[Unit]
Description=Delete $HOME/Downloads directory (continously recreated by Spotify)
RefuseManualStart=no
RefuseManualStop=no

[Timer]
Persistent=false
OnBootSec=60
OnCalendar=*:0/15
Unit=downloads-dir-prune.service

[Install]
WantedBy=timers.target
