[Unit]
Description=Set the X Background using Feh
Requires=xmonitor.service

[Service]
Type=oneshot
ExecStart=%h/bin/fehbg

[Install]
WantedBy=xsession.target
