[Unit]
Description=Palemoon profile in memory

[Install]
WantedBy=default.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/agjacome/bin/palemoon-sync %i
ExecStop=/home/agjacome/bin/palemoon-sync %i

