[Unit]
Description=Urxvt Terminal Daemon
After=xorg.service

[Service]
ExecStart=/usr/bin/urxvtd -q -o
Restart=on-failure

[Install]
WantedBy=default.target
