[Unit]
Description=URxvt terminal daemon

[Service]
Type=simple
Restart=always
RestartSec=0
ExecStart=/usr/bin/urxvtd -o -q

[Install]
WantedBy=xsession.target
