[Unit]
Description=Set the XServer resources
After=xmonitor.service

[Service]
Type=oneshot
ExecStart=%h/bin/xresources

[Install]
WantedBy=xsession.target
