[Unit]
Description=Set the XServer resources
After=xmonitor.service

[Service]
Type=oneshot
ExecStart=%h/.local/bin/_xutils/xresources

[Install]
WantedBy=xsession.target
