[Unit]
Description=Udevil devmon service

[Service]
Type=simple
Restart=always
RestartSec=0
ExecStart=/usr/bin/devmon

[Install]
WantedBy=default.target
