[Unit]
Description=Set the X Background using Feh
After=xmonitor.service

[Service]
Type=oneshot
ExecStart=%h/.local/bin/_xutils/fehbg

[Install]
WantedBy=xsession.target
