[user]
    name  = Alberto G. Jácome
    email = agjacome@gmail.com
[core]
    editor       = vim
    pager        = less
    autocrlf     = input
    whitespace   = trailing-space,space-before-tab,indent-with-non-tab
    excludesfile = ~/.gitignore_global
[merge]
    tool = vimdiff
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[push]
    default = simple
[help]
    autocorrect = 1
[color]
    ui = true
[color "branch"]
    current = green bold
    remote  = red bold
[color "diff"]
    meta = yellow
    frag = cyan bold
    old  = red bold
    new  = green bold
[alias]
    aa     = add --all
    amend  = commit --amend
    lg     = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%Creset' --abbrev-commit
    noff   = merge --no-ff
    pullff = pull --ff-only
    diffst = diff --staged
[github]
    user = agjacome
[pull]
    rebase = true
    autostash = true
[rerere]
    enabled = true
[fetch]
    prune = true
