! X settings
Xft.antialias : 1
Xft.autohint  : 0
Xft.dpi       : 96
Xft.hinting   : 1
Xft.hintstyle : hintfull
Xft.lcdfilter : lcddefault
Xft.rgba      : rgb
Xcursor.theme : Simple-and-Soft

! Colorscheme
*background : #1d1f21
*foreground : #969896
*color0     : #282a2e
*color1     : #A54242
*color2     : #8C9440
*color3     : #de935f
*color4     : #5F819D
*color5     : #85678F
*color6     : #5E8D87
*color7     : #969896
*color8     : #373b41
*color9     : #cc6666
*color10    : #b5bd68
*color11    : #f0c674
*color12    : #81a2be
*color13    : #b294bb
*color14    : #8abeb7
*color15    : #c5c8c6

! URxvt settings
URxvt.scrollstyle     : rxvt
URxvt.scrollBar       : off
URxvt.urgentOnBell    : true
URxvt.visualBell      : false
URxvt.cursorBlink     : false
URxvt.cursorUnderline : false

! URxvt extensions
URxvt.perl-ext-common      : default,clipboard,keyboard-select,url-select
URxvt*keysym.Home          : \033[1~
URxvt*keysym.End           : \033[4~
URxvt.keysym.M-c           : perl:clipboard:copy
URxvt.keysym.M-v           : perl:clipboard:paste
URxvt.keysym.M-C-v         : perl:clipboard:paste_escaped
URxvt.keysym.M-Escape      : perl:keyboard-select:activate
URxvt.keysym.M-s           : perl:keyboard-select:search
URxvt.keysym.M-u           : perl:url-select:select_next
URxvt.clipboard.copycmd    : xsel -ib
URxvt.clipboard.pastecmd   : xsel -ob
URxvt.url-select.autocopy  : true
URxvt.url-select.button    : 1
URxvt.url-select.launcher  : /usr/bin/firefox
URxvt.url-select.underline : true

! URxvt font-style
URxvt.font        : xft:Monofur for Powerline:size=14
URxvt.letterSpace : -1
