[user]
    name  = Alberto G. Jácome
{{ if eq .chezmoi.hostname "frontify" -}}
    email = alberto.jacome@frontify.com
    signingkey = 203C1831B4D2DF27
{{ else -}}
    email = contact@agjacome.dev
    signingkey = B93F7989243F83E9
{{ end -}}

[github]
    user = agjacome

[core]
    autocrlf     = input
    editor       = nvim
    excludesfile = ~/.config/git/ignore
    pager        = less
    whitespace   = trailing-space,space-before-tab,indent-with-non-tab

[color]
    ui = true
[commit]
    gpgsign = true
[diff]
    tool = nvimdiff
[difftool]
    prompt = false
[fetch]
    prune = true
[help]
    autocorrect = 1
[init]
    defaultBranch = main
[merge]
    tool = nvimdiff
[pull]
    rebase = true
[push]
    default = simple
[rebase]
    autosquash = true
    autostash = true
[rerere]
    enabled = true

[alias]
    aa     = add --all
    amend  = commit --amend
    diffst = diff --staged
    lg     = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%Creset' --abbrev-commit
    noff   = merge --no-ff
    pullff = pull --ff-only
    st     = status --short --branch
