{{ if eq .chezmoi.hostname "Caronte" -}}
  id_caronte
{{ else if eq .chezmoi.hostname "Cerbero" -}}
  id_cerbero
{{ else if eq .chezmoi.hostname "Minos" -}}
  id_minos
{{ else if eq .chezmoi.hostname "CH-MBP-T6J2LJJ9WW" -}}
  id_frontify
{{ end -}}
