abbr cp    "cp -ir"
abbr df    "df -hT"
abbr grep  "grep --color=auto -Ii"
abbr l     "ls"
abbr l1    "ls -1"
abbr mkdir "mkdir -pv"
abbr mv    "mv -i"
abbr rm    "rm -Iv"
abbr rr    "rm -Irv"

if begin type -q tmux; or test -f {{ .nixProfile }}/bin/tmux; end
    abbr ta "tmux attach -t"
    abbr tl "tmux list-sessions"
    abbr tn "tmux new -s (basename (pwd) | sed 's/[^a-zA-Z0-9]//g')"
end

if begin type -q nvim; or test -f {{ .nixProfile }}/bin/nvim; end
    abbr v   "nvim"
    abbr vi  "nvim"
    abbr vim "nvim"
else if type -q vim
    abbr v   "vim"
    abbr vi  "vim"
    abbr vim "vim"
end

if begin type -q yay; or test -f /usr/bin/yay; end
    abbr i   "yay -S"
    abbr qdt "yay -Qdtq"
    abbr ss  "yay -Ss"
    abbr syu "yay -Syu"
else if begin type -q pacman; or test -f /usr/bin/pacman; end
    abbr i   "sudo pacman -S"
    abbr qdt "pacman -Qdtq"
    abbr ss  "pacman -Ss"
    abbr syu "sudo pacman -Syu"
end

if test -d $HOME/.dotfiles
    abbr dotup "pushd $HOME/.dotfiles && git pull && home-manager switch --impure && chezmoi apply && popd"
end
