{{ $passphrase := promptStringOnce . "passphrase" "chezmoi passphrase" -}}

sourceDir = "{{ .chezmoi.homeDir }}/.dotfiles"
encryption = "gpg"

[data]
  boldFonts = true
  fontSize = 17
  forceLoginShell = false
  gitEmail = "contact@agjacome.dev"
  gitSigningKey = ""
  nixProfile = "{{ .chezmoi.homeDir }}/.nix-profile"
  pinentry = "{{ .chezmoi.homeDir }}/.nix-profile/bin/pinentry"
  sshKey = "{{ .chezmoi.homeDir }}/.ssh/id_ed25519"
  username = "agjacome"

[git]
  autoPush = false
  autoCommit = false

[gpg]
  symmetric = true
  args = [
    "--batch",
    "--passphrase",
    {{ $passphrase | quote }},
    "--no-symkey-cache",
    "--quiet"
  ]

