{{ $passphrase := promptStringOnce . "passphrase" "Chezmoi passphrase" -}}

encryption = "gpg"

[data]
  nixProfile = "{{ .chezmoi.homeDir }}/.nix-profile"
  pinentry = "{{ .chezmoi.homeDir }}/.nix-profile/bin/pinentry"

[git]
  autoPush = false
  autoCommit = false

[gpg]
  symmetric = true
  args = ["--batch", "--passphrase", {{ $passphrase | quote }}, "--no-symkey-cache", "--quiet"]

