[Unit]
Description=Forward bluetooth midi controls via mpris2

[Service]
Type=simple
Restart=always
RestartSec=0
ExecStart=/usr/bin/mpris-proxy

[Install]
WantedBy=default.target
