/*
!.gitignore

!alacritty.yml
!alacritty
!dunst
!fish
!htop
!.ghci
!git
!gtkrc-2.0
!locale.conf
!mpv
!nix
!profile
!streamlink
!systemd
!tbsm
!tmux
tmux/plugins
!user-dirs*
!xresources*
!xsessions
!zathura
