download_rate   = 0
upload_rate     = 57
max_peers       = 100
max_peers_seed  = 100
max_uploads     = 13
max_downloads   = 2
peer_exchange   = yes
port_random     = no
port_range      = 49168-49169
dht             = auto
dht_port        = 49171

check_hash      = yes
encoding_list   = UTF-8

directory       = /home/agjacome/.rtorrent
session         = /home/agjacome/.rtorrent
schedule        = low_diskspace,5,60,close_low_diskspace=5000M
schedule        = watch_directory,5,5,load_start=/home/agjacome/share/torrents/*.torrent

system.method.set_key = event.download.finished,move_complete,"d.set_directory=/home/agjacome/tmp/;execute=mv,-u,$d.get_base_path=,/home/agjacome/tmp/"

color_active_fg   = 3
color_dead_fg     = 1
color_finished_fg = 2
color_inactive_fg = 7
