font:
  normal:
    family: Monofur Nerd Font
    style: Regular
  bold:
    family: Monofur Nerd Font
    style: {{ if .boldFonts -}} Bold {{ else -}} Regular {{- end }}
  italic:
    family: Monofur Nerd Font
    style: Regular
  bold_italic:
    family: Monofur Nerd Font
    style: {{ if .boldFonts -}} Bold {{ else -}} Regular {{- end }}
  size: {{ .fontSize }}

window:
  dimensions:
    lines: 40
    columns: 120
  padding:
    x: 10
    y: 10
  {{ if eq .chezmoi.os "darwin" -}}
  option_as_alt: Both
  {{- end }}

cursor:
  style:
    shape:    Block
    blinking: Never

draw_bold_text_with_bright_colors: false

# zenbones_dark: https://github.com/mcchrish/zenbones.nvim/blob/main/extras/alacritty/zenbones_dark.yml
colors:
  primary:
    foreground: '#B4BDC3'
    background: '#1C1917'
  cursor:
    cursor: '#C4CACF'
    text: '#1C1917'
  normal:
    black:   '#1C1917'
    red:     '#DE6E7C'
    green:   '#819B69'
    yellow:  '#B77E64'
    blue:    '#6099C0'
    magenta: '#B279A7'
    cyan:    '#66A5AD'
    white:   '#B4BDC3'
  bright:
    black:   '#403833'
    red:     '#E8838F'
    green:   '#8BAE68'
    yellow:  '#D68C67'
    blue:    '#61ABDA'
    magenta: '#CF86C1'
    cyan:    '#65B8C1'
    white:   '#888F94'

{{ if eq .chezmoi.os "darwin" -}}
key_bindings:
  - { key: N,  mods: Control|Shift, action: CreateNewWindow }
{{- end }}

{{ if eq .chezmoi.hostname "frontify" -}}
shell:
  program: login
  args: ["-fp", "albertojacome"]
{{- end }}
